<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home ejs</title>
</head>
<body>
    <h1>this is a ejs view folder inside home.ejs <%= 5*6 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi voluptatem repellat corrupti earum quam et qui ab facere molestias, reiciendis beatae dignissimos eaque, maiores fuga tempora? Cum mollitia accusamus pariatur. Voluptate, doloremque assumenda!</p>
    <button>click me</button>
</body>
</html>